![](http://c0.thejournal.ie/media/2016/04/titanic-9-752x501.jpg)

# Titanic Kaggle Challenge Exercises

This notebook is a series of exercises related to the Titanic Challenge on Kaggle (https://www.kaggle.com/c/titanic). 

These exercises differ from the Titanic dataset challenges GA put forward. Instead of jumping through data manipulation exercises first, this exercise notebook focuses on the skills to solve the Kaggle Challenge, plus any 'cool things' I can add along the way.

From the Kaggle challenge description:
>In this challenge, we ask you to complete the analysis of what sorts of people were likely to survive. In particular, we ask you to apply the tools of machine learning to predict which passengers survived the tragedy.

In [1]:
%run lib/__init__.py

Pandas Initiated
Numpy Initiated
Matplotlib Initiated
Seaborn Initiated
tqdm Initiated
Warnings: Off
Random Seed: 42
IPython Display Initiated
BeautifulSoup Initiated
Import csv Initiated
Please initiate %matplotlib inline

In [2]:
%matplotlib inline

In [3]:
%run lib/__preprocessing_init__.py

StandardScaler Initiated
MinMaxscaler Initiated
RobustScaler Initiated
Normalizer Initiated
Logistic Regression Initiated
Linear Regression Initiated
train_test_split Initiated
SelectKBest Initiated
SelectFromModel Initiated
RFE Initiated
SelectPercentile Initiated
StratifiedKFold Initiated
Ridge Regression Initiated
Lasso Regression Initiated
ElasticNet Initiated
KFold Initiated
Please initiate "%matplotlib inline"

In [4]:
print(plt.style.available)

['seaborn-dark', 'seaborn-darkgrid', 'seaborn-ticks', 'fivethirtyeight', 'seaborn-whitegrid', 'classic', '_classic_test', 'fast', 'seaborn-talk', 'seaborn-dark-palette', 'seaborn-bright', 'seaborn-pastel', 'grayscale', 'seaborn-notebook', 'ggplot', 'seaborn-colorblind', 'seaborn-muted', 'seaborn', 'Solarize_Light2', 'seaborn-paper', 'bmh', 'seaborn-white', 'dark_background', 'seaborn-poster', 'seaborn-deep']

In [12]:
import csv

df = pd.read_csv('data/titanic_full_copy.csv')
display(df.head())
df.keys()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,804,1,3,"Thomas, Master. Assad Alexander",male,0.0,0,1,2625,8.52,NaN,C
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.28,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.93,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.10,C123,S
4,756,1,2,"Hamalainen, Master. Viljo",male,1.0,1,1,250649,14.50,NaN,S

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.712885,0.523008,0.381594,32.205017
std,257.353842,0.486592,0.836071,14.529273,1.102743,0.806057,49.693389
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.250000,0.000000,0.000000,7.915000
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.450000
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.330000